/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*header start*/
.navigation ul li a{
	padding: 0!important;
}
.banner {
    padding: 70px 0;
}
.banner_content h1{
	font-size: 28px;
}
.banner_content p{
	font-size: 16px;
}
/*header end*/
/*story start*/
.story{
	padding: 50px 0;
}
.story_content{
	margin-bottom: 30px;
}
.common_title{
	font-size: 38px;
}
.common_hr{
	margin-bottom: 30px;
}
.common_text{
	font-size: 16px;
}
/*story end*/
/*recipe start*/
.recipe{
	padding: 50px 0;
}
/*recipe end*/
/*menu start*/
.menu{
	padding: 50px 0;
}
.menu_item{
	margin-top: 50px;
}
.menu_item h2 span{
	display: block;
	margin-top: 15px;
}
/*menu end*/
/*contact start*/
.contact{
	padding: 10px 0 50px;
}
.single{
	margin-top: 40px;
	text-align: center;
}
.single h3,.single h4{
	margin-bottom: 20px;
}
.single p{
	word-spacing: 0;
}
/*contact end*/
/*footer start*/
footer{
	padding: 15px 0;
}
.footer_ilink{
	text-align: center;
}
/*footer end*/

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
.navigation ul li a{
	padding: 0!important;
}
.banner {
    padding: 100px 0;
}
.banner_content h1{
	font-size: 36px;
}
.banner_content p{
	font-size: 16px;
}
/*header end*/
/*story start*/
.story{
	padding: 50px 0;
}
.story_content{
	margin-bottom: 30px;
}
.common_title{
	font-size: 50px;
}
.common_hr{
	margin-bottom: 30px;
}
.common_text{
	font-size: 16px;
}
/*story end*/
/*recipe start*/
.recipe{
	padding: 50px 0;
}
/*recipe end*/
/*menu start*/
.menu{
	padding: 50px 0;
}
.menu_item{
	margin-top: 50px;
}
.menu_item h2 span{
	display: block;
	margin-top: 15px;
}
/*menu end*/
/*contact start*/
.contact{
	padding: 10px 0 50px;
}
.single{
	margin-top: 40px;
}
.single h3,.single h4{
	margin-bottom: 20px;
}
.single p{
	word-spacing: 0;
}
/*contact end*/
/*footer start*/
footer{
	padding: 15px 0;
}
.footer_ilink{
	text-align: center;
}
/*footer end*/

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
.navigation ul li a{
	padding: 0!important;
}
.banner {
    padding: 100px 0;
}
.banner_content h1{
	font-size: 48px;
}
/*header end*/
/*menu start*/
.menu_item h2 span{
	display: block;
	margin-top: 15px;
}
/*menu end*/
/*contact start*/
.single p{
	word-spacing: 0;
}
.single p i{
	display: none;
}
/*contact end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}
