/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*header start*/
.navigation ul li a{
	color: #fff!important;
	padding:0!important;
}
.banner {
    padding: 70px 0;
}
.banner_content h1 {
    font-size: 28px;
    margin: 0 0 30px;
}
.banner_content p {
    font-size: 16px;
}
/*header end*/	
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
.navigation ul li a{
	color: #fff!important;
	padding:0!important;
}
.banner {
    padding: 80px 0;
}
.banner_content h1 {
    font-size: 40px;
    margin: 0 0 30px;
}
.banner_content p {
    font-size: 16px;
}
/*header end*/	
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*header start*/
.navigation ul li a{
	color: #fff!important;
	padding:0!important;
}
.banner {
    padding: 100px 0;
}
.banner_content h1 {
    font-size: 50px;
    margin: 0 0 30px;
}
.banner_content p {
    font-size: 16px;
}
/*header end*/

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}
