@font-face {
    src: url(../fonts/forever-brush-script-regular.ttf);
    font-family: forever-brush-script-regular;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
/*navigation start*/
header {
    padding-top: 15px;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.bgnav {
    padding: 15px 0;
    background: #16171b;
    transition: 0.4s linear;
}
.menubar ul li a {
    color: #fff!important;
    padding: 0 20px!important;
    transition: 0.3s linear;
}
.menubar ul li a:hover,
.menubar ul li .active {
    color: #c8235d!important;
}
.menubar ul li:last-child a {
    padding-right: 0!important;
}
/*navigation end*/
/*banner start*/
#banner {
    padding: 270px 0 150px;
}
.banner_content {
    text-align: center;
}
.banner_content h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*banner end*/
/*about start*/
#about {
    padding: 100px 0;
    text-align: center;
    background: #962323;
}
.title {
    font-family: forever-brush-script-regular;
    font-size: 56px;
    font-weight: 400;
}
.cmn_hr {
    width: 110px;
    height: 1px;
    background: #c8235d;
}
.cmn_text {
    margin-top: 45px;
}
/*about end*/
/*recipe start*/
.recipe {
    padding: 100px 0;
    background-image: url(../images/recipes_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.recipe_content {
    text-align: center;
}
/*recipe end*/
/*menu start*/
#menu {
    padding: 100px 0;
    background: #f3f4f7;
}
#menu .title {
    color: #0b0c0d;
}
.menu_item {
    margin-top: 60px;
}
.menu_item h2 {
    font-size: 16px;
    font-weight: 700;
    color: #0b0c0d;
}
.menu_item h2 span {
    color: #c8235d;
}
.menu_item p {
    color: #0b0c0d;
    margin-top: 20px;
    margin-bottom: 0;
}
/*menu end*/
/*contact start*/
#contact {
    padding-top: 60px;
    padding-bottom: 100px;
    background: #25262a;
}
.single {
    margin-top: 40px;
}
.single h3 {
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 20px;
}
.single h4 {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
}
.single p a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease-in;
}
.single p a:hover {
    color: #c8235d;
}
.single p i {
    color: #c0235a;
    padding-right: 16px;
}
/*contact end*/
/*footer start*/
footer {
    padding: 30px 0;
    background: #16171b;
}
footer ul {
    margin-bottom: 0;
}
footer ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    transition: 0.3s ease-in;
}
footer ul li a i {
    padding: 0 5px;
}
footer ul li a:hover {
    color: #fff;
    text-decoration: none;
}
/*footer end*/