@font-face{
	src: url(../fonts/forever-brush-script-regular.ttf);
	font-family: forever-brush-script-regular;
}
@font-face{
	src: url(../fonts/ProximaNova-Thin.otf);
	font-family: ProximaNova-Thin;
}
@font-face{
	src: url(../fonts/ProximaNovaAlt-Regular.otf);
	font-family: ProximaNovaAlt-Regular;
}
/*font-family: 'Roboto', sans-serif;*/
body{
	font-family: ProximaNovaAlt-Regular;
	color: #fff;
}
/*header start*/
header{
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/header_bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/*navigation start*/
.logo{
	font-family: ProximaNova-Thin;
	font-size: 31px;
	font-weight: 100;
	color: #fff!important;
}
.navigation ul li a{
	color: #fff!important;
	padding:0 23px!important;
	transition: 0.3s ease-in;
}
.navigation ul li:last-child a{
	padding: 0!important;
}
.navigation ul li a:hover{
	color: #c0235a!important;
}
/*navigation end*/
/*banner start*/
.banner{
	padding: 250px 0;
}
.banner_content{
	text-align: center;
}
.banner_content h1{
	font-family: ProximaNova-Thin;
	font-size: 72px;
	font-weight: 100;
	margin: 0 0 50px;
	text-transform: uppercase;
}
.banner_content p{
	font-size: 18px;
	margin: 0;
}
/*banner end*/
/*header end*/


